@charset "UTF-8";

body {
    background-image: linear-gradient(90deg, #025E73, #f30404);
    padding: 20px;
    min-height: 100vh;
}

main {
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #0bbde983;
}

h1,
h2,
p {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: #F2A71B;
    text-shadow: 1px 1px 0.8px #69490c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: #a37012;
}

p {
    text-align: justify;
}
header {
 border-radius: 12px;
}