@charset "UTF-8";
:root{
    --cor01:#ffff;
    --cor0:#45C0F5;
    --cor1:#4588F5;
    --cor2:#4550F5;
    --cor3:#7245F5;
    --cor4:#969CF5;
    --cor5:#AC45F5;
    --cor6:#F5F445;
    --fonte0:'TASA Orbiter';
    --fonte1:'Share Tech';
}
body{
    font-family: var(--fonte0);
    color: var(--cor2);
    background-color: var(--cor0);
    line-height: 1.5em;
}
header{
    color: white;
    background-image: linear-gradient(180deg ,var(--cor0),var(--cor1));
    text-align: center;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}
nav>a{
    color: white;
    padding-left: 5px;
    font-size: large;
}
nav>a:hover{
    color: var(--cor6);
    text-decoration: none;
    text-transform: uppercase;

}
main{
    max-width: 800px;
    min-width: 400px;
    background-color: white;
    color: black;
    margin: auto; 
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
a{
    color: var(--cor2);
    text-decoration: none;
}
a:hover{
    color: var(--cor6);
    text-decoration: none;
}
h2{
    background-image: linear-gradient(90deg ,var(--cor2),var(--cor01));
    color: var(--cor01);
    font-family: var(--fonte1);
}
#listas{
    background-color: var(--cor0);
    border-radius: 10px;
    color: var(--cor01);
    padding: 2px 5px 2px 5px;
}
#listas>h2{
    background: var(--cor2);
    padding: 2px;
    
}
ul{
    columns: 2;
    list-style-type: '\2714' ;
    list-style-position:inside ;
}