@charset "UTF-8";
/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Share+Tech&family=TASA+Orbiter:wght@400..800&display=swap');
/* Variáveis e Root */
:root {
    --cor001: #ffffff;
    --cor01: #000000;
    --cor1: #BED0D5;
    --cor2: #BDF1FF;
    --cor3: #7CA0AA;
    --cor4: #477381;
    --cor5: #214A55;
    --cor6: #0C2A33;
    --cor7: #711B2A;
    --cor8: #E3E466;
    --cor9: #227A52;

    --fonte1: 'Roboto', sans-serif;
    --fonte2: 'Share Tech', sans-serif;
    --fonte3: 'TASA Orbiter', sans-serif;
}
/**/
*{
    padding: 0px;
    margin: 0px;
 
}
body{
    background-color: var(--cor2);
    font-family: var(--fonte3);
    
}
header{
    font-family: var(--fonte2);
    text-align: center;
    background-image: linear-gradient(180deg, var(--cor2),var(--cor6));
    color: var(--cor001);
    min-height: 10px;
    padding: 6px 20px 20px 20px;
    min-width: 400px;
}
header >h1 {
    padding-top: 15px;
    padding-bottom: 15px;
}
nav{
    background-color: var(--cor6);
    padding-top: 0px;
    padding-bottom: 85px;
    padding: 20px 20px 5px 20px;
    min-width: 400px;
    text-align: center;

}
nav a{
    color: var(--cor8);
    background-color: var(--cor4);
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
nav a:hover{
    background-color: var(--cor8);
    color: var(--cor6);
    text-transform: uppercase;
   border: var(--cor6);
}
main{
    padding: 20px;
    max-width: 1000px;
    min-width: 400px;
    background-color: var(--cor001);
    margin: auto;
}
main h1,h2{
    background-color: var(--cor2);
    background-image: linear-gradient(90deg, var(--cor2),var(--cor001));
    padding-left: 5px;
}
main a {
    text-decoration: none;
    color: var(--cor9);
    font-weight: bold;
} 
main a:hover  {
    color: var(--cor7);
    background-color: var(--cor2);
    
} 
main p{
    padding: 5px 0px 5px 0px;
}
div#video{
    background-color: var(--cor6);
    padding: 20px;
    padding-bottom: 56.25%;
    margin: 20px -20px 20px -20px;
    position: relative;
}
div#video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
aside{
    background-color: var(--cor6);
    border-radius: 10px;
    color: var(--cor001);
    padding: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.507);
}
aside h3{
    background-color: var(--cor5);
    margin: -10px -10px 0px -10px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    padding-left: 5px;
}
aside ul{
    border-radius: 15px;
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
    background-color: var(--cor3);
    color: var(--cor6);
    padding: 0px 0px 0px 5px;
    margin: 10px;
    
}
aside  abbr{
    text-decoration: none;
}
footer{
    margin: auto;
    color: var(--cor001);
    background-color: var(--cor01);
    padding: 0px 20px 10px 20px;
    max-width: 1000px;
    min-width: 400px;
}
footer a{
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}
footer a:after {
    content: "\1F4BB"; /* O código do emoji vai aqui */
    margin-left: 5px;   /* Opcional: dá um espaço entre o texto e o ícone */
}
img{
    width: 100%;
}
img.pequeno{
    max-width: 400px;
    display: block;
    margin: auto;
    
}
pre{
    background-color: var(--cor6);
    color: var(--cor8);
    margin: auto;
    padding: 10px 0px 0px 0px;
    border-radius: 15px;
    width: 50%;
    box-shadow: 3px 1px 3px 2px rgba(0, 0, 0, 0.377);
}
code{
    background-color: var(--cor9);
    color: var(--cor8);
}