@charset "UTF-8";
body{
background-image: linear-gradient(45deg, #468AF4, #5D6675);
}
main{
width: 600px;
height: auto;
background-color: #2b2929;
border-radius: 12px;
margin: auto;
padding: 20px;
color: #ffff;
}
h1{
text-align: center;
box-shadow: #7eadf8;
box-shadow: 0px 0px 22px #468AF4;
border-radius: 10px;
background-color: #5D6675;
}
